.usage-circle-container {
  background-color: $color-bg-transparent;
}

.usage-overlay-wrapper {
}

.usage-progress {
  background-color: $color-bg-overlay;
}

.usage-icon-box {
}

.usage-icon {
  font-family: $font-primary;
  opacity: $opacity-icon;
}
