.modern-clock-container {
  background-color: transparent;
  padding: 20px;
}

.day label {
  font-family: "Anurati", sans-serif;
  letter-spacing: 17px;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.date label {
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  color: #FFFFFF;
  text-shadow: 1px 1px 3px black, 0 0 10px black;
}

.time label {
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  color: #FFFFFF;
  text-shadow: 1px 1px 3px black, 0 0 10px black;
}
