.usage-circle-container {
  background-color: transparent;
}

.usage-overlay-wrapper {
}

.usage-progress {
  background-color: rgba(255, 255, 255, 0.1);
}

.usage-icon-box {
}

.usage-icon {
  font-family: "Poppins", sans-serif;
  opacity: 0.8;
}
