* {
    main-bg:            #031424;
    main-fg:            #CCE6FF;
    main-br:            #587B51;
    main-ex:            #032B40;
    select-bg:          #1B3A5B;
    select-fg:          #BFBDB6;
}
