* {
    main-bg:            #0F131A80;
    main-fg:            #BFBDB6;
    main-br:            #FFCC66;
    main-ex:            #032B40;
    select-bg:          #1B3A5B;
    select-fg:          #BFBDB6;
}
