/* Ghostty GTK Tabbar Styling */

tabbar {
  background-color: #0f131a;
  opacity: 1;
}

tabbar tabbox {
  min-width: 0;
  min-height: 0;
  background-color: inherit;
  min-height: 0px;
  border-radius: 0;
  --window-radius: 0;
  border-radius: 0;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

tabbar tabbox tabboxchild {
  min-width: 0;
  min-height: 0;
  border-radius: 0;
}

tabbar tabbox separator {
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

tabbar tabbox tab {
  color: #636b74;
  min-width: 0px;
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
  --window-radius: 0;
}

tabbar tabbox tab:selected{
  background-color: inherit;
  color: #bfbdb6;
}

tabbar tabbox tab button {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -gtk-icon-size: 0;
}

