.hyprland-workspaces {
  background-color: transparent;

  button {
    min-width: 32px;
    border-radius: $border-radius;
    font-family: $font-primary;
    font-size: 12px;
    color: $color-white;
    background-color: transparent;
    text-shadow: $shadow-text-light;
    transition: all 0.15s ease;

    &:hover {
      color: $dark_grey;
    }
  }

  .workspace-on-screen {
    color: white;
  }
}
