.cpu-temp-bar-container {
}

.cpu-temp-row {
}

.cpu-temp-scale {
}

.cpu-temp-scale trough {
  all: unset;
  background-color: $color-bg-overlay;
  border-radius: $border-radius;
  min-width: 30px;
}

.cpu-temp-scale highlight {
  all: unset;
  background-color: currentColor;
  border-radius: $border-radius;
  min-height: 5px;
}
