$black: #0b0e14;
$dark_grey: #273747;
$grey: #70809b;
$red: #f26d78;
$green: #aad94c;
$yellow: #ffb454;
$blue: #39bae6;
$magenta: #d2a6ff;
$cyan: #73b8ff;
$white: #bfbdb6;

$color-white: $white;
$color-primary: $blue;

$color-bg-transparent: transparent;
$color-bg-overlay: rgba(255, 255, 255, 0.1);
$color-text-muted: rgba(255, 255, 255, 0.7);

$opacity-icon: 0.8;

$font-primary: "Poppins", sans-serif;
$font-display: "Anurati", sans-serif;

$border-radius: 5px;

$shadow-text-strong: 5px 5px 2px rgba(0, 0, 0, 0.2);
$shadow-text-medium: 2px 2px 2px rgba(0, 0, 0, 0.2);
$shadow-text-light: 0px 0px 3px rgba(0, 0, 0, 0.8);

$spacing-base: 20px;
$letter-spacing-wide: 17px;
$letter-spacing-normal: 3px;

* {
  all: unset;
}

window {
  background-color: $color-bg-transparent;
}

@import "./widgets/modern-clock/eww.scss";
@import "./widgets/system-tray/eww.scss";
@import "./widgets/audio/eww.scss";
@import "./widgets/cpu-cores-monitor/eww.scss";
@import "./widgets/hyprland-workspaces/eww.scss";
