* {
  all: unset;
}

window {
  background-color: transparent;
}

@import "./styles/modern-clock.scss";
@import "./styles/usage-circle.scss";
@import "./styles/audio.scss";
@import "./styles/cpu-temp-bar.scss";

.system-monitors-container {
  background-color: transparent;
}
